In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("stories.csv")
df.head()

,by,descendants,id,kids,score,time,title,type,url
0,mtlynch,374,22201337,"[22202301, 22204564, 22201343, 22202241, 22201...",1066,1580476160,My Second Year as a Solo Developer,story,https://mtlynch.io/solo-developer-year-2/
1,vo2maxer,0,22201335,NaN,2,1580476155,The STORY about the ‘business as usual’ story ...,story,https://michaelmann.net/content/story-about-%E...
2,CapitalistCartr,0,22201331,NaN,3,1580476096,Students find website data leaks pose greater ...,story,https://www.seas.harvard.edu/news/2020/01/impe...